<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-elk-files-share" version="1.0.0">

    <name>ElkFilesShare</name>
    <description>Allows ELK codorva apps to receive files from other android apps.</description>
    <keywords>cordova,plugin,file, picker, android</keywords>
    <license>MIT</license>
    <js-module name="ELK File Share Plugin" src="www/elkFilesShare.js">
        <clobbers target="cordova.plugins.elkFilesShare" />
    </js-module>
    <engines>
        <engine name="cordova" version=">=10.0.0"/>
        <engine name="cordova-android" version=">=9.0.0"/>
    </engines>

    <platform name="android">
        <source-file src="src/android/com/digitres/cordova/plugin/elkFilesShare.kt" target-dir="java/com/digitres/cordova/plugin/"/>
        <config-file target="config.xml" parent="/*">
            <preference name="GradlePluginKotlinEnabled" value="true" />
            <feature name="ElkFilesShare">
                <param name="android-package" value="com.digitres.cordova.plugin.elkFilesShare"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" platform="android" parent="/manifest/application/activity" mode="merge">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest" mode="merge">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>

    </platform>
</plugin>