<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-elk-files-share" version="1.0.0" xmlns:tools="">

    <name>ElkFilesShare</name>
    <description>Allows ELK codorva apps to receive files from other android apps.</description>
    <keywords>cordova,plugin,file,share, picker, android</keywords>
    <license>MIT</license>
    <js-module name="ElkFilesShare" src="www/ElkFilesShare.js">
        <clobbers target="cordova.plugins.ElkFilesShare" />
    </js-module>
    <engines>
        <engine name="cordova" version=">=10.0.0"/>
        <engine name="cordova-android" version=">=9.0.0"/>

    </engines>

    <platform name="android">
         <config-file target="res/xml/config.xml" parent="/*">
            <preference name="GradlePluginKotlinEnabled" value="true" />
             <preference name="AndroidPersistentFileLocation" value="Compatibility" />
            <feature name="ElkFilesShare">
                <param name="android-package" value="com.digitres.cordova.plugin.ElkFilesShare"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

       <config-file target="AndroidManifest.xml" platform="android" parent="/manifest/application/activity" mode="merge">
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*" mode="merge">
            <uses-permission android:name="android.permission.REORDER_TASKS" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/queries" mode="merge">
            <package android:name="org.rff.saide.knowhow" />
            <package android:name="com.electricbookworks.rff.npt" />
            <package android:name="org.rff.digitres.elkfilemanager" />
            <package android:name="org.rff.digitres.elklauncher" />
            <package android:name="priv.rff.thereachtrust.dataguard" />
            <package android:name="org.thereachtrust.federer" />
        </config-file>
        <source-file src="src/android/com/digitres/cordova/plugin/ElkFilesShare.kt" target-dir="app/src/main/kotlin/com/digitres/cordova/plugin/" />

    </platform>
</plugin>